
<div class="container-fluid">
  <!-- Top section to select a child's name -->
  <div class="row">
    <div class="col-sm-12"><img src="/assets/thelwallinfantschool-headerimage.png"></div>
  </div>
  <div class="row p-3"></div>   

  <div class="masthead">
    <nav>
      <ngb-tabset>
        <ngb-tab title="Student" id="studentinfo">
          <template ngbTabContent>
            <div class="row p-1"></div>  
            <table class="table table-round-border">
              <tr>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">First Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Middle Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Last Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Street Address:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>  
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">City:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">State/Province:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Zip Code:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                                                                           
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Country:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                                                        
                </td>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Home Phone Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Gender:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Date of Birth:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Place of Birth:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>  
                </td>                
              </tr>
              <div class="row p-1"></div>                
            </table>
          </template>
        </ngb-tab>
        <ngb-tab title="Parent/Legal Guardian" id="parentguardian">
          <template ngbTabContent>
            <div class="row p-1"></div>  
            <table class="table table-round-border">
              <tr>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">First Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Middle Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Last Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                </td>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Home Phone Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>  
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Cell Phone Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Work Phone Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Email Address:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>  
                  <div class="row p-1"></div>                   
                </td>                
              </tr>
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Home Correspondence Language:</label></div>
                    <div class="col-md-8">
                      <select class="custom-select">
                        <option selected>Select a Language</option>
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Other">Other</option>
                      </select>                      
                    </div>
                  </div>                   
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Highest Level of Education Completed:</label></div>
                    <div class="col-md-8">
                      <select class="custom-select">
                        <option selected>Select a choice</option>
                        <option value="English">Not a High School Graduate</option>
                        <option value="Spanish">High School Graduate or Equivalent</option>
                        <option value="Chinese">Some College (includes AA Degree)</option>
                        <option value="Other">College Graduate</option>
                        <option value="Other">Graduate School/Post Graduate Training</option>
                        <option value="Other">Decline to State or Unknown</option>
                      </select>                       
                    </div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Does the student live with this parent/legal guardian?</label></div>
                    <div class="col-md-8">
                      <select class="custom-select">
                        <option selected>Select</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                      
                    </div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text">Relationship to Student:</label></div>
                    <div class="col-md-4"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-4"></div>
                  </div>                  
                </td> 
              </tr>
              <div class="row p-1"></div>                
            </table>
          </template>
        </ngb-tab>   
        <ngb-tab title="Language & Ethinicity" id="langethinicity">
          <template ngbTabContent>
            <div class="row p-1"></div>               
            <table class="table table-round-border">
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-4"><label class="sms-label-text">Home Language of the Student:</label></div>
                    <div class="col-md-8"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-4"><li class="sms-label-text-nobold">Which language did this student learn when he/she first began to talk?</li></div>
                    <div class="col-md-2"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-6"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-4"><li class="sms-label-text-nobold">Which language does this student most frequently use at home?</li></div>
                    <div class="col-md-2"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-6"></div>
                  </div> 
                  <div class="form-group p-1">
                    <div class="col-md-4"><li class="sms-label-text-nobold">Which language do you use most frequently to speak to this student?</li></div>
                    <div class="col-md-2"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-6"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-4"><li class="sms-label-text-nobold">Which language is most often used by the adults at home?</li></div>
                    <div class="col-md-2"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-6"><li class="sms-label-text-nobold">Has this student received any formal English language instruction (listening, speaking, reading, or writing)? </li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-4"></div>
                  </div>                                                                                                              
                </td>
              </tr>
              <div class="row p-1"></div>         
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-3"><label class="sms-label-text">Is the student’s ethnicity Hispanic/Latino?</label></div>
                    <div class="col-md-9">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                         
                    </div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-3"><label class="sms-label-text">Student’s Primary Race?</label></div>
                    <div class="col-md-9">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">African American</option>
                        <option value="Spanish">Asian</option>
                      </select>                         
                    </div>
                  </div>  
                  <div class="form-group p-1">
                    <div class="col-md-3"><label class="sms-label-text">Student’s Additional Race?</label></div>
                    <div class="col-md-9">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">African American</option>
                        <option value="Spanish">Asian</option>
                      </select>                         
                    </div>
                  </div>                                    
                </td>
              </tr>              
            </table>                
          </template>
        </ngb-tab>
        <ngb-tab title="Student Education" id="studenteducation">
          <template ngbTabContent>
            <div class="row p-1"></div>               
            <table class="table table-round-border">
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-4"><label class="sms-label-text">Special Services:</label></div>
                    <div class="col-md-8"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Was this student receiving special education services at his/her previous school?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Did this student have a current Individualized Education Program (IEP) at the previous school?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Did this student have a Section 504 Plan at his/her previous school?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Does the student have difficulties that interfere with his/her ability to go to school or to learn?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div> 
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Has this student been identified for gifted and talented educational services (GATE)?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>                                                                                                                                                   
                </td>
              </tr>
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-4"><label class="sms-label-text">Previous School Information:</label></div>
                    <div class="col-md-8"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Has this student previously attended this school?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Has this student previously attended any other school or center in the LAUSD (e.g., early education center, state preschool, SRLDP, Head Start, or other preschool)</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                </td>
              </tr>              
              <div class="row p-1"></div>         
            </table>                
          </template>
        </ngb-tab> 
        <ngb-tab title="Additonal Household" id="additionalhousehold">
          <template ngbTabContent>
            <div class="row p-1"></div>               
            <table class="table table-round-border">
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-4"><label class="sms-label-text">Court Orders:</label></div>
                    <div class="col-md-8"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Are there any court orders you wish to notify the school about regarding legal custody, physical custody or restricted contact with the school or child?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Student Lives with Foster Family?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>   
                  <div class="form-group p-1">
                    <div class="col-md-5"><li class="sms-label-text-nobold">Does the student have any relatives who are all or part American Indian or Alaska Native?</li></div>
                    <div class="col-md-2">
                     <select class="custom-select">
                        <option selected>Please select your answer</option>
                        <option value="English">Yes</option>
                        <option value="Spanish">No</option>
                      </select>                        
                    </div>
                    <div class="col-md-5"></div>
                  </div>
                </td>
              </tr>
          
              <div class="row p-1"></div>         
            </table>                
          </template>
        </ngb-tab>
        <ngb-tab title="Emergency Contact" id="emergencycontact">
          <template ngbTabContent>
            <div class="row p-1"></div>  
            <table class="table table-round-border">
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-12"><label class="sms-label-text">1. EMERGENCY CONTACT # 1 </label><label class="sms-label-text-nobold">(other than parent(s)/legal guardian(s) above):</label></div>
                  </div>
                </td> 
              </tr>
              <tr>
                <td class="col-md-6">
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">First Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Last Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Relationship to student:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Home Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Cell Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Work Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                                      
                </td>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Home Address:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">City:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">State:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Zip Code:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                </td>                
              </tr>
              <div class="row p-1"></div>
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-12"><label class="sms-label-text">2. EMERGENCY CONTACT # 2 </label><label class="sms-label-text-nobold">(other than parent(s)/legal guardian(s) above):</label></div>
                  </div>
                </td> 
              </tr>
              <tr>
                <td class="col-md-6">
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">First Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Last Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Relationship to student:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Home Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Cell Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Work Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                                      
                </td>
                <td class="col-md-6"> 
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Home Address:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">City:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">State:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Zip Code:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                </td>                
              </tr>    
              <div class="row p-1"></div>
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-1">
                    <div class="col-md-12"><label class="sms-label-text">3. THE SCHOOL IS AUTHORIZED TO RELEASE THIS STUDENT TO THE FOLLOWING PERSONS IN NON-EMERGENCY SITUATIONS </label><label class="sms-label-text-nobold">(after verifying with parent, in addition to the
emergency contacts above)</label></div>
                  </div>
                </td> 
              </tr>
              <tr>
                <td class="col-md-6">
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">First Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Last Name:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Home Number:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                  <div class="form-group p-2">
                    <div class="col-md-4"><label class="sms-label-text-nobold">Relationship to student:</label></div>
                    <div class="col-md-8"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>                  
                  <div class="form-group p-2">
                    <div class="col-md-6"><label class="sms-label-text-nobold">Parent/legal guardian providing authorization:</label></div>
                    <div class="col-md-6"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div>
                </td>
                <td class="col-md-6"></td>                
              </tr>                                                  
            </table>
          </template>
        </ngb-tab>      
        <ngb-tab title="Signature" id="signature">
          <template ngbTabContent>
            <div class="row p-1"></div>               
            <table class="table table-round-border">
              <tr>
                <td class="col-md-12">
                  <div class="form-group p-2">
                    <div class="col-md-12"><label class="sms-label-text">I verify that the information contained in this document is true and correct to the best of my knowledge.</label></div>
                  </div>   
                  <div class="form-group p-2">
                    <div class="col-md-1"><label class="sms-label-text-nobold">Signature:</label></div>
                    <div class="col-md-5"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-1"><label class="sms-label-text-nobold">Date:</label></div>
                    <div class="col-md-5"><input type="text" class="form-control sms-label-text-nobold"></div>
                  </div> 
                  <div class="form-group p-2">
                    <div class="col-md-2"><label class="sms-label-text-nobold">Relationship to Student:</label></div>
                    <div class="col-md-4"><input type="text" class="form-control sms-label-text-nobold"></div>
                    <div class="col-md-6"></div>
                  </div>                    
                </td>
              </tr>
          
              <div class="row p-1"></div>         
            </table>                
          </template>
        </ngb-tab>
                                             
      </ngb-tabset>
    </nav>
  </div>


  <!-- Site footer -->
  <div class="schoolhome-footer-w3l">
      <p> &copy; 2017 iSchoolManager. All Rights Reserved </p>
  </div>

</div> <!-- /container -->
